body {
    padding: 0;
}

.page-header {
    background-color: #d8d8d8;
    margin-top: 0;
    padding: 20px 20px 20px 40px; 
}

.page-header h1 {
    font-family: 'Raleway';
    font-weight: 800;
}

.post-header {
    background-color: #e5e5e5;
    padding: 20px 20px 20px 40px; 
}

.post .post-header h2 a {
    color: #FCA205;
    font-family: 'Raleway';
    font-weight: 800;
}

.post p, .post-header p {
    color: #333;
    font-family: 'Open Sans';
}

.post p{
    padding: 20px 20px 20px 40px; 
}
